aws-bedrock-Titan-test
{
    "Comment": "An example of using Bedrock to chain prompts and their responses together. - Desafio Delivery com AWS",
    "StartAt": "Ideias de combinação",
    "States": {
        "Ideias de combinação": {
            "Type": "Task",
            "Resource": "arn:aws:states:::bedrock:invokeModel",
            "Parameters": {
                "ModelId": "arn:aws:bedrock:us-east-2::foundation-model/amazon.titan-embed-text-v2:0",
                "Body": {
                    "inputText": "Estou programando um jantar e pedirei macarrão. Me dê uma lista de 3 itens que combine com a experiência gastronônica",
                    "textGenerationConfig": {
                        "temperature": 0,
                        "topP": 1,
                        "maxTokenCount": 512
                    }
                },
                "ContentType": "application/json",
                "Accept": "*/*"
            },
            "Next": "Add first result to conversation history",
            "ResultPath": "$.result_one",
            "ResultSelector": {
                "result_one.$": "$.Body.inputText[0].text"
            }
        },
        "Add first result to conversation history": {
            "Type": "Pass",
            "Next": "Ideias de bebidas",
            "Parameters": {
                "convo_one.$": "States.Format('{}\n{}', $.prompt_one, $.result_one.result_one)"
            },
            "ResultPath": "$.convo_one"
        },
        "Ideias de bebidas": {
            "Type": "Task",
            "Resource": "arn:aws:states:::bedrock:invokeModel",
            "Parameters": {
                "ModelId": "arn:aws:bedrock:us-east-2::foundation-model/amazon.titan-embed-text-v2:0",
                "Body": {
                    "inputText": "liste duas bebidas que podem acompanhar este jantar",
                    "textGenerationConfig": {
                        "temperature": 0,
                        "topP": 1,
                        "maxTokenCount": 512
                    }
                },
                "ContentType": "application/json",
                "Accept": "*/*"
            },
            "Next": "Add second result to conversation history",
            "ResultSelector": {
                "result_two.$": "$.Body.inputText[0].text"
            },
            "ResultPath": "$.result_two"
        },
        "Add second result to conversation history": {
            "Type": "Pass",
            "Next": "Ideias de lugares",
            "Parameters": {
                "convo_two.$": "States.Format('{}\n{}\n{}', $.convo_one.convo_one, $.prompt_two, $.result_two.result_two)"
            },
            "ResultPath": "$.convo_two"
        },
        "Ideias de lugares": {
            "Type": "Task",
            "Resource": "arn:aws:states:::bedrock:invokeModel",
            "Parameters": {
                "ModelId": "arn:aws:bedrock:us-east-2::foundation-model/amazon.titan-embed-text-v2:0",
                "Body": {
                    "inputText": "liste um lugar perfeito para jantar na Itália",
                    "textGenerationConfig": {
                        "temperature": 0,
                        "topP": 1,
                        "maxTokenCount": 512
                    }
                },
                "ContentType": "application/json",
                "Accept": "*/*"
            },
            "End": true,
            "ResultSelector": {
                "result_three.$": "$.Body.inputText[0].text"
            }
        }
    }
}
